.perspective {
  perspective: 1200px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
html, body, #root {
  height: auto;       /* let height expand */
  overflow-y: auto;   /* allow vertical scrolling */
}
